<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305595097231-9kc58e3a9d9a21jkfn18rgem3d64crl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305595097231-9kc58e3a9d9a21jkfn18rgem3d64crl4</string>
	<key>API_KEY</key>
	<string>AIzaSyDhCNh7lvMFeGg1xzsWLN-ueYRYbA56z_o</string>
	<key>GCM_SENDER_ID</key>
	<string>305595097231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-c2353</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-c2353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305595097231:ios:e911c26c2a73f60ab910fa</string>
</dict>
</plist>